In [1]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
url = 'https://en.wikipedia.org/wiki/Progressive_Field#Seating_capacity'

In [3]:
tables = pd.read_html(url)

In [4]:
len(tables)

15

In [5]:
tables[0]

,0,1
0,"""The Jake""","""The Jake"""
1,NaN,NaN
2,Progressive Field in 2022,Progressive Field in 2022
3,Progressive FieldLocation in ClevelandProgress...,Progressive FieldLocation in ClevelandProgress...
4,Former names,Jacobs Field (1994–2007)
5,Address,2401 Ontario Street
6,Location,"Cleveland, Ohio"
7,Coordinates,41°29′45″N 81°41′7″W﻿ / ﻿41.49583°N 81.68528°W
8,Public transit,Tower City
9,Owner,Cuyahoga County
10,Operator,Gateway Economic Development Corporation
11,Executive suites,115[1]
12,Capacity,"34,830[2]"
13,Record attendance,"45,274 (October 4, 1997; Division Series Game ..."
14,Field size,Left field – 325 feet (99 m) Left-center – 370...
15,Surface,Kentucky Bluegrass
16,Scoreboard,Daktronics 59 feet (18 m) high by 221 feet (67...
17,Construction,Construction
18,Broke ground,"January 13, 1992[3]"
19,Opened,"April 2, 1994[3]"
20,Renovated,October 2014–April 2016 October 2023–April 202...
21,Construction cost,$175 million ($360 million in 2023 dollars[6])
22,Architect,HOK Sport Whitley & Whitley Architects Triad D...
23,Structural engineer,Osborn Engineering[7]
24,Services engineer,Polytech Engineering[8]
25,General contractor,"Huber, Hunt & Nichols[7]"
26,Tenants,Tenants
27,Cleveland Guardians (MLB) 1994–present,Cleveland Guardians (MLB) 1994–present
28,Website,Website
29,Official website,Official website

In [6]:
print(tables)

[                                                    0  \
0                                          "The Jake"
1                                                 NaN
2                           Progressive Field in 2022
3   Progressive FieldLocation in ClevelandProgress...
4                                        Former names
5                                             Address
6                                            Location
7                                         Coordinates
8                                      Public transit
9                                               Owner
10                                           Operator
11                                   Executive suites
12                                           Capacity
13                                  Record attendance
14                                         Field size
15                                            Surface
16                                         Scoreboard
17                                       Construction
18                                       Broke ground
19                                             Opened
20                                          Renovated
21                                  Construction cost
22                                          Architect
23                                Structural engineer
24                                  Services engineer
25                                 General contractor
26                                            Tenants
27             Cleveland Guardians (MLB) 1994–present
28                                            Website
29                                   Official website

                                                    1
0                                          "The Jake"
1                                                 NaN
2                           Progressive Field in 2022
3   Progressive FieldLocation in ClevelandProgress...
4                            Jacobs Field (1994–2007)
5                                 2401 Ontario Street
6                                     Cleveland, Ohio
7      41°29′45″N 81°41′7″W﻿ / ﻿41.49583°N 81.68528°W
8                                          Tower City
9                                     Cuyahoga County
10           Gateway Economic Development Corporation
11                                             115[1]
12                                          34,830[2]
13  45,274 (October 4, 1997; Division Series Game ...
14  Left field – 325 feet (99 m) Left-center – 370...
15                                 Kentucky Bluegrass
16  Daktronics 59 feet (18 m) high by 221 feet (67...
17                                       Construction
18                                January 13, 1992[3]
19                                   April 2, 1994[3]
20  October 2014–April 2016 October 2023–April 202...
21     $175 million ($360 million in 2023 dollars[6])
22  HOK Sport Whitley & Whitley Architects Triad D...
23                              Osborn Engineering[7]
24                            Polytech Engineering[8]
25                           Huber, Hunt & Nichols[7]
26                                            Tenants
27             Cleveland Guardians (MLB) 1994–present
28                                            Website
29                                   Official website  ,            Years    Capacity
0      1994–1996  42,865[52]
1      1997–2003  43,368[52]
2           2004  43,389[52]
3           2005  43,405[52]
4      2006–2007  43,415[52]
5           2008  43,545[53]
6           2009  45,199[54]
7           2010  45,569[55]
8           2011  43,441[56]
9           2012  43,429[57]
10          2013  42,241[58]
11          2014  42,487[59]
12          2015  36,856[60]
13          2016  35,225[61]
14     2017-2019  35,051[62]
15  2021–present  34,830[63],                          Statistic  \
0                       First game
1     First ceremonial first pitch
2                     First batter
3                        First hit
4                First Indians hit
5                     First double
6                   First home run
7                First Indians run
8            First winning pitcher
9                 First night game
10                    First triple
11          First Indians home run
12               First stolen base
13                      First save
14                First grand slam
15  First inside-the-park home run
16               First triple play
17    First unassisted triple play
18                 First no-hitter

                                            Person(s)             Date
0                                vs. Seattle Mariners    April 4, 1994
1          President Bill Clinton to Sandy Alomar Jr.    April 4, 1994
2                      Rich Amaral (Seattle Mariners)    April 4, 1994
3           Eric Anthony (Seattle Mariners), home run    April 4, 1994
4                                    Sandy Alomar Jr.    April 4, 1994
5                                       Manny Ramirez    April 4, 1994
6                     Eric Anthony (Seattle Mariners)    April 4, 1994
7   Candy Maldonado, scored on a Manny Ramírez two...    April 4, 1994
8                                          Eric Plunk    April 4, 1994
9                                vs. Seattle Mariners    April 7, 1994
10                 Ken Griffey Jr. (Seattle Mariners)    April 7, 1994
11                                       Eddie Murray    April 7, 1994
12                                       Omar Vizquel    April 7, 1994
13             Hipólito Pichardo (Kansas City Royals)   April 15, 1994
14                                      Paul Sorrento      May 9, 1995
15                                         David Bell   April 15, 1998
16  Casey Blake-Asdrúbal Cabrera-Víctor Martínez (...  August 27, 2007
17                                   Asdrúbal Cabrera     May 12, 2008
18                 Ervin Santana (Los Angeles Angels)    July 27, 2011  ,                            Events and tenants  \
0                Preceded byCleveland Stadium
1  Preceded byVeterans Stadium Nationals Park

                           Events and tenants.1  \
0  Home of the Cleveland Guardians 1994–present
1           Host of the All-Star Game 1997 2019

                     Events and tenants.2
0                     Succeeded byCurrent
1  Succeeded byCoors Field Dodger Stadium  ,                                vteCleveland Guardians  \
0   Established in 1894 Former names (all in Cleve...
1                                           Franchise
2                                           Ballparks
3                                    Culture and lore
4                                           Rivalries
5                                       Key personnel
6                         Postseason appearances (16)
7                         Division championships (11)
8                        American League pennants (6)
9                      World Series championships (2)
10                                     Hall of Famers
11                                             Minors
12  Seasons (130)1890s 1890 1891 1892 1893 1894 18...
13                                      Seasons (130)
14                                              1890s
15                                              1900s
16                                              1910s
17                                              1920s
18                                              1930s
19                                              1940s
20                                              1950s
21                                              1960s
22                                              1970s
23                                              1980s
24                                              1990s
25                                              2000s
26                                              2010s
27                                              2020s

                             vteCleveland Guardians.1
0   Established in 1894 Former names (all in Cleve...
1   History Seasons Records Players Owners and exe...
2   League Park Cleveland Stadium Progressive Fiel...
3   1910 Chalmers Award 1948 AL tie-breaker game 1...
4                            Ohio Cup Cincinnati Reds
5   Owner: Larry Dolan Chairman/CEO: Paul Dolan Pr...
6   1920 1948 1954 1995 1996 1997 1998 1999 2001 2...
7   1995 1996 1997 1998 1999 2001 2007 2016 2017 2...
8                       1920 1948 1954 1995 1997 2016
9                                           1920 1948
10  Averill Boudreau Coveleski Doby Dudley (FCFA) ...
11  Triple-A: Columbus Clippers Double-A: Akron Ru...
12  Seasons (130)1890s 1890 1891 1892 1893 1894 18...
13                                      Seasons (130)
14  1890 1891 1892 1893 1894 1895 1896 1897 1898 1899
15  1900 1901 1902 1903 1904 1905 1906 1907 1908 1909
16  1910 1911 1912 1913 1914 1915 1916 1917 1918 1919
17  1920 1921 1922 1923 1924 1925 1926 1927 1928 1929
18  1930 1931 1932 1933 1934 1935 1936 1937 1938 1939
19  1940 1941 1942 1943 1944 1945 1946 1947 1948 1949
20  1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
21  1960 1961 1962 1963 1964 1965 1966 1967 1968 1969
22  1970 1971 1972 1973 1974 1975 1976 1977 1978 1979
23  1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
24  1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
25  2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
26  2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
27                           2020 2021 2022 2023 2024  ,    Seasons (130)                                    Seasons (130).1
0          1890s  1890 1891 1892 1893 1894 1895 1896 1897 1898 1899
1          1900s  1900 1901 1902 1903 1904 1905 1906 1907 1908 1909
2          1910s  1910 1911 1912 1913 1914 1915 1916 1917 1918 1919
3          1920s  1920 1921 1922 1923 1924 1925 1926 1927 1928 1929
4          1930s  1930 1931 1932 1933 1934 1935 1936 1937 1938 1939
5          1940s  1940 1941 1942 1943 1944 1945 1946 1947 1948 1949
6          1950s  1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
7          1960s  1960 1961 1962 1963 1964 1965 1966 1967 1968 1969
8          1970s  1970 1971 1972 1973 1974 1975 1976 1977 1978 1979
9          1980s  1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
10         1990s  1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
11         2000s  2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
12         2010s  2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
13         2020s                           2020 2021 2022 2023 2024,   vteCurrent ballparks in Major League Baseball  \
0                               American League
1                                          East
2                                       Central
3                                          West
4                               National League
5                                          East
6                                       Central
7                                          West

     vteCurrent ballparks in Major League Baseball.1
0  East Fenway Park (Boston Red Sox) Oriole Park ...
1  Fenway Park (Boston Red Sox) Oriole Park at Ca...
2  Comerica Park (Detroit Tigers) Guaranteed Rate...
3  Angel Stadium (Los Angeles Angels) Globe Life ...
4  East Citi Field (New York Mets) Citizens Bank ...
5  Citi Field (New York Mets) Citizens Bank Park ...
6  American Family Field (Milwaukee Brewers) Busc...
7  Chase Field (Arizona Diamondbacks) Coors Field...  ,          0                                                  1
0     East  Fenway Park (Boston Red Sox) Oriole Park at Ca...
1  Central  Comerica Park (Detroit Tigers) Guaranteed Rate...
2     West  Angel Stadium (Los Angeles Angels) Globe Life ...,          0                                                  1
0     East  Citi Field (New York Mets) Citizens Bank Park ...
1  Central  American Family Field (Milwaukee Brewers) Busc...
2     West  Chase Field (Arizona Diamondbacks) Coors Field...,                      vte City of Cleveland  \
0                                   Topics
1                               Government
2                                    Local
3                                    State
4                                  Federal
5                            Public safety
6                           Transportation
7                                     Land
8                                      Air
9                                    Water
10                              Healthcare
11                                 Culture
12                         Historic places
13                                 Museums
14                        Parks and nature
15                         Performing arts
16  Sports, concert, and convention venues
17                              Traditions
18                           Neighborhoods
19                                  Sports
20                            Major league
21                            Minor League
22                                 College

                              vte City of Cleveland.1
0   History Timeline Demographics Economy Media Fl...
1   Local Mayor City Council City Hall Cleveland M...
2   Mayor City Council City Hall Cleveland Metro S...
3                       Lausche State Office Building
4   Celebrezze Federal Building Coast Guard Distri...
5                                     EMS Fire Police
6   Land RTA Shoreway Detroit–Superior Bridge Hope...
7   RTA Shoreway Detroit–Superior Bridge Hope Memo...
8   Burke Lakefront Airport Hopkins International ...
9                      Goodtime III Port of Cleveland
10  Cleveland Clinic Health Education Campus Unive...
11  Historic places City Club of Cleveland Clevela...
12  City Club of Cleveland Cleveland Arcade Clevel...
13  A Christmas Story House Cleveland History Cent...
14  Cleveland Botanical Garden Cleveland Metropark...
15  Cleveland Ballet Cleveland Cinematheque Clevel...
16  Agora Theatre and Ballroom Cleveland Browns St...
17  Feast of the Assumption Dyngus Day Kurentovanj...
18  Broadway–Slavic Village Brooklyn Centre Buckey...
19  Major league NFL: Cleveland Browns NBA: Clevel...
20  NFL: Cleveland Browns NBA: Cleveland Cavaliers...
21  G League: Cleveland Charge MLIS: Cleveland Cru...
22  NCAA D1 (Horizon League): Cleveland State Viki...  ,          0                                                  1
0    Local  Mayor City Council City Hall Cleveland Metro S...
1    State                      Lausche State Office Building
2  Federal  Celebrezze Federal Building Coast Guard Distri...,        0                                                  1
0   Land  RTA Shoreway Detroit–Superior Bridge Hope Memo...
1    Air  Burke Lakefront Airport Hopkins International ...
2  Water                     Goodtime III Port of Cleveland,                                         0  \
0                         Historic places
1                                 Museums
2                        Parks and nature
3                         Performing arts
4  Sports, concert, and convention venues
5                              Traditions

                                                   1
0  City Club of Cleveland Cleveland Arcade Clevel...
1  A Christmas Story House Cleveland History Cent...
2  Cleveland Botanical Garden Cleveland Metropark...
3  Cleveland Ballet Cleveland Cinematheque Clevel...
4  Agora Theatre and Ballroom Cleveland Browns St...
5  Feast of the Assumption Dyngus Day Kurentovanj...  ,               0                                                  1
0  Major league  NFL: Cleveland Browns NBA: Cleveland Cavaliers...
1  Minor League  G League: Cleveland Charge MLIS: Cleveland Cru...
2       College  NCAA D1 (Horizon League): Cleveland State Viki...,   vteMusic venues of Ohio                          vteMusic venues of Ohio.1
0          Outdoor venues  Andrew J. Brady Music Center Blossom Music Cen...
1      Theaters and clubs  Agora Theatre and Ballroom Aronoff Center Boga...
2                  Arenas  Beeghly Center Canton Memorial Civic Center Ci...
3         Historic venues  Battelle Hall Cleveland Stadium Cincinnati Gar...]

In [8]:
tables[1]

           Years    Capacity
0      1994–1996  42,865[52]
1      1997–2003  43,368[52]
2           2004  43,389[52]
3           2005  43,405[52]
4      2006–2007  43,415[52]
5           2008  43,545[53]
6           2009  45,199[54]
7           2010  45,569[55]
8           2011  43,441[56]
9           2012  43,429[57]
10          2013  42,241[58]
11          2014  42,487[59]
12          2015  36,856[60]
13          2016  35,225[61]
14     2017-2019  35,051[62]
15  2021–present  34,830[63]

In [9]:
stadium_capacity = tables[1]
stadium_capacity

           Years    Capacity
0      1994–1996  42,865[52]
1      1997–2003  43,368[52]
2           2004  43,389[52]
3           2005  43,405[52]
4      2006–2007  43,415[52]
5           2008  43,545[53]
6           2009  45,199[54]
7           2010  45,569[55]
8           2011  43,441[56]
9           2012  43,429[57]
10          2013  42,241[58]
11          2014  42,487[59]
12          2015  36,856[60]
13          2016  35,225[61]
14     2017-2019  35,051[62]
15  2021–present  34,830[63]

In [10]:
stadium_capacity.info

<bound method DataFrame.info of            Years    Capacity
0      1994–1996  42,865[52]
1      1997–2003  43,368[52]
2           2004  43,389[52]
3           2005  43,405[52]
4      2006–2007  43,415[52]
5           2008  43,545[53]
6           2009  45,199[54]
7           2010  45,569[55]
8           2011  43,441[56]
9           2012  43,429[57]
10          2013  42,241[58]
11          2014  42,487[59]
12          2015  36,856[60]
13          2016  35,225[61]
14     2017-2019  35,051[62]
15  2021–present  34,830[63]>

In [11]:
stadium_capacity.dtypes

Years       object
Capacity    object
dtype: object

In [12]:
stadium_capacity_obj = stadium_capacity.select_dtypes('object')

In [13]:
stadium_capacity[stadium_capacity_obj.columns] = stadium_capacity_obj.apply(lambda x: x.str.strip())
stadium_capacity

           Years    Capacity
0      1994–1996  42,865[52]
1      1997–2003  43,368[52]
2           2004  43,389[52]
3           2005  43,405[52]
4      2006–2007  43,415[52]
5           2008  43,545[53]
6           2009  45,199[54]
7           2010  45,569[55]
8           2011  43,441[56]
9           2012  43,429[57]
10          2013  42,241[58]
11          2014  42,487[59]
12          2015  36,856[60]
13          2016  35,225[61]
14     2017-2019  35,051[62]
15  2021–present  34,830[63]

In [14]:
stadium_capacity['Capacity'] = stadium_capacity['Capacity'].str.replace(',','')
stadium_capacity

           Years   Capacity
0      1994–1996  42865[52]
1      1997–2003  43368[52]
2           2004  43389[52]
3           2005  43405[52]
4      2006–2007  43415[52]
5           2008  43545[53]
6           2009  45199[54]
7           2010  45569[55]
8           2011  43441[56]
9           2012  43429[57]
10          2013  42241[58]
11          2014  42487[59]
12          2015  36856[60]
13          2016  35225[61]
14     2017-2019  35051[62]
15  2021–present  34830[63]

In [15]:
stadium_capacity['Capacity'] = stadium_capacity['Capacity'].str.replace("\[.*\]", "", regex=True).astype(int)

In [16]:
stadium_capacity

           Years  Capacity
0      1994–1996     42865
1      1997–2003     43368
2           2004     43389
3           2005     43405
4      2006–2007     43415
5           2008     43545
6           2009     45199
7           2010     45569
8           2011     43441
9           2012     43429
10          2013     42241
11          2014     42487
12          2015     36856
13          2016     35225
14     2017-2019     35051
15  2021–present     34830

In [17]:
stadium_capacity.to_csv('progressive_field_capacity_hist')